<section>
    <h2>Crie sua própria sala, de forma fácil</h2>
    <form action="/create-room" method="POST">
        <label class="sr-only" for="room-password">Insira uma senha</label>
        <input id="room-password" name="password" type="password" placeholder="Insira uma senha">
        <button>
            <img src="/img/create-room-white.svg" alt="Ícone para criar uma sala">
            Criar sala
        </button>
    </form>
</section>