<section>
    <h2>Entre como participante</h2>
    <form action="">
        <label class="sr-only" for="room-id">Código da sala</label>
        <input id="room-id" type="number" placeholder="Código da sala">
        <button>
            <img src="/img/enter-room.svg" alt="Ícone para entrar na sala">
            Entrar na sala
        </button>
    </form>
</section>

<div class="separator">
    <div></div>
    <div>ou</div>
    <div></div>
</div>

<section>
    <h2>Crie sua própria sala, de forma fácil</h2>
    <a class="btn outlined" href="/create-room">
        <img src="/img/create-room.svg" alt="Ícone para criar uma sala">
        Criar sala
    </a>
</section>